head 
  link(rel='stylesheet' href='./style.css' data-inline='data-inline')
boday
  h2 Price Matched
  h3 S21
    table
      tbody
        tr
          th
            | Link
          th
            | Price
          tr
            td
              a.link(href='https://www.soubarato.com.br/produto/2875240373?condition=REWRAPPED' target='_blank') See
            td
              | R$ #{product.price}

